UtilAPIUnitTest/Connected Services/GoogleService/GoogleService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/UtilAPIService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/UtilAPIService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:49490/GoogleService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="GoogleScope">
    <xs:sequence>
      <xs:element minOccurs="0" name="Drive" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DriveAppdata" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DriveAppsReadonly" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DriveFile" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DriveMetadata" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DriveMetadataReadonly" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DrivePhotosReadonly" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DriveReadonly" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DriveScripts" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GmailCompose" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GmailInsert" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GmailLabels" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GmailModify" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GmailReadonly" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GmailSend" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MailGoogleCom" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GoogleScope" nillable="true" type="tns:GoogleScope" />
  <xs:complexType name="Initializer">
    <xs:sequence>
      <xs:element minOccurs="0" name="ApplicationName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CertificateFileBytes" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="CertificatePassword" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Scopes" nillable="true" type="q1:ArrayOfstring" />
      <xs:element minOccurs="0" name="ServiceAccountEmail" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="User" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Initializer" nillable="true" type="tns:Initializer" />
  <xs:complexType name="EmailMessage">
    <xs:sequence>
      <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="AttachmentsFilePath" nillable="true" type="q2:ArrayOfstring" />
      <xs:element minOccurs="0" name="Body" nillable="true" type="xs:string" />
      <xs:element xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="CC" nillable="true" type="q3:ArrayOfstring" />
      <xs:element minOccurs="0" name="From" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsBodyHtml" type="xs:boolean" />
      <xs:element xmlns:q4="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="ReplyToList" nillable="true" type="q4:ArrayOfstring" />
      <xs:element minOccurs="0" name="Subject" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ThreadId" nillable="true" type="xs:string" />
      <xs:element xmlns:q5="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="To" nillable="true" type="q5:ArrayOfstring" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EmailMessage" nillable="true" type="tns:EmailMessage" />
</xs:schema>