UtilAPIUnitTest/Connected Services/MailService/MailService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="MailService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:49490/MailService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:49490/MailService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:49490/MailService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/UtilAPIService.FedexTrackService" />
      <xsd:import schemaLocation="http://localhost:49490/MailService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="http://localhost:49490/MailService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/UtilAPIService.UPSTrackService" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IMailService_GetFedexTrack_InputMessage">
    <wsdl:part name="parameters" element="tns:GetFedexTrack" />
  </wsdl:message>
  <wsdl:message name="IMailService_GetFedexTrack_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetFedexTrackResponse" />
  </wsdl:message>
  <wsdl:message name="IMailService_CreateFedexTrackRequest_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateFedexTrackRequest" />
  </wsdl:message>
  <wsdl:message name="IMailService_CreateFedexTrackRequest_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateFedexTrackRequestResponse" />
  </wsdl:message>
  <wsdl:message name="IMailService_GetUPSTrack_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUPSTrack" />
  </wsdl:message>
  <wsdl:message name="IMailService_GetUPSTrack_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUPSTrackResponse" />
  </wsdl:message>
  <wsdl:message name="IMailService_CreateUPSTrackRequest_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateUPSTrackRequest" />
  </wsdl:message>
  <wsdl:message name="IMailService_CreateUPSTrackRequest_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateUPSTrackRequestResponse" />
  </wsdl:message>
  <wsdl:portType name="IMailService">
    <wsdl:operation name="GetFedexTrack">
      <wsdl:input wsaw:Action="http://tempuri.org/IMailService/GetFedexTrack" message="tns:IMailService_GetFedexTrack_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMailService/GetFedexTrackResponse" message="tns:IMailService_GetFedexTrack_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateFedexTrackRequest">
      <wsdl:input wsaw:Action="http://tempuri.org/IMailService/CreateFedexTrackRequest" message="tns:IMailService_CreateFedexTrackRequest_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMailService/CreateFedexTrackRequestResponse" message="tns:IMailService_CreateFedexTrackRequest_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUPSTrack">
      <wsdl:input wsaw:Action="http://tempuri.org/IMailService/GetUPSTrack" message="tns:IMailService_GetUPSTrack_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMailService/GetUPSTrackResponse" message="tns:IMailService_GetUPSTrack_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateUPSTrackRequest">
      <wsdl:input wsaw:Action="http://tempuri.org/IMailService/CreateUPSTrackRequest" message="tns:IMailService_CreateUPSTrackRequest_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMailService/CreateUPSTrackRequestResponse" message="tns:IMailService_CreateUPSTrackRequest_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IMailService" type="tns:IMailService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetFedexTrack">
      <soap:operation soapAction="http://tempuri.org/IMailService/GetFedexTrack" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateFedexTrackRequest">
      <soap:operation soapAction="http://tempuri.org/IMailService/CreateFedexTrackRequest" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUPSTrack">
      <soap:operation soapAction="http://tempuri.org/IMailService/GetUPSTrack" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateUPSTrackRequest">
      <soap:operation soapAction="http://tempuri.org/IMailService/CreateUPSTrackRequest" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MailService">
    <wsdl:port name="BasicHttpBinding_IMailService" binding="tns:BasicHttpBinding_IMailService">
      <soap:address location="http://localhost:49490/MailService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>