UtilAPIUnitTest/Connected Services/MailService/MailService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:49490/MailService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/UtilAPIService.FedexTrackService" />
  <xs:import schemaLocation="http://localhost:49490/MailService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/UtilAPIService.UPSTrackService" />
  <xs:element name="GetFedexTrack">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/UtilAPIService.FedexTrackService" minOccurs="0" name="request" nillable="true" type="q1:TrackRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFedexTrackResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/UtilAPIService.FedexTrackService" minOccurs="0" name="GetFedexTrackResult" nillable="true" type="q2:TrackReply" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateFedexTrackRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="key" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="accountNumber" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="meterNumber" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="trackingNumber" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateFedexTrackRequestResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/UtilAPIService.FedexTrackService" minOccurs="0" name="CreateFedexTrackRequestResult" nillable="true" type="q3:TrackRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUPSTrack">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="accessKey" nillable="true" type="xs:string" />
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/UtilAPIService.UPSTrackService" minOccurs="0" name="request" nillable="true" type="q4:TrackRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUPSTrackResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/UtilAPIService.UPSTrackService" minOccurs="0" name="GetUPSTrackResult" nillable="true" type="q5:TrackResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateUPSTrackRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="trackingNumber" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateUPSTrackRequestResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/UtilAPIService.UPSTrackService" minOccurs="0" name="CreateUPSTrackRequestResult" nillable="true" type="q6:TrackRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>